# Elaboración del dataset integrado

In [1]:
import os
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")

column_list = ['time', 'gFx', 'gFy', 'gFz', 'TgF', 'actividad', 'movil', 'sujeto']
combined_csv = pd.DataFrame()

csv_files = [f for f in os.listdir('all_data') if f.endswith('.csv')]
for file in csv_files:
    df = pd.read_csv('all_data\\' + file, delimiter=";", decimal=",")
    df.columns = column_list
    print('Se ha cargado', file)
    duration = df['time'].iloc[-1]
    df = df[(df['time'] > 1) & (df['time'] < (duration - 1))]
    combined_csv = combined_csv.append(df, ignore_index=True)
    
combined_csv

Se ha cargado ACF-2023-01-20.standing.csv
Se ha cargado ACF-2023-01-20.upstairs.csv
Se ha cargado ACF-2023-01-20.walking.csv
Se ha cargado BRJ-2022-12-1908.02.39-standing.csv
Se ha cargado BRJ-2022-12-1908.03.34-walking.csv
Se ha cargado BRJ-2022-12-1908.05.06-upstairs.csv
Se ha cargado DMJ-2023-01-2110.52.13-walking.csv
Se ha cargado DMJ-2023-01-2110.53.38-stairs.csv
Se ha cargado DMJ-2023-01-2117.35.03-standing.csv
Se ha cargado FVL-2023-01-2012.23.52-stairs.csv
Se ha cargado FVL-2023-01-2012.31.41-walking.csv
Se ha cargado FVL-2023-01-2310.27.55-standing.csv
Se ha cargado GMC-2023-01-2112.27.21-stairs.csv
Se ha cargado GMC-2023-01-2112.28.13-walking.csv
Se ha cargado GMC-2023-01-2112.28.55-standing.csv
Se ha cargado ICT-2023-01-2023.00.07-standing.csv
Se ha cargado ICT-2023-01-2023.02.07-stairs.csv
Se ha cargado ICT-2023-01-2023.04.07-walking.csv
Se ha cargado IJBA-2023-01-22.stairs.csv
Se ha cargado IJBA-2023-01-22.standing.csv
Se ha cargado IJBA-2023-01-22.walking.csv
Se ha cargado IRCH-2023-01-2210- walking.csv
Se ha cargado IRCH-2023-01-2210-stairs.csv
Se ha cargado IRCH-2023-01-2210-standing.csv
Se ha cargado JBGG2-2023-01-2111.46.39-Standing.csv
Se ha cargado JBGG2-2023-01-2112.27.07-Walking.csv
Se ha cargado JCV-2023-01-2223.02.35-standing.csv
Se ha cargado JCV-2023-01-2223.03.57-walking.csv
Se ha cargado JCV-2023-01-2223.05.22-stairs.csv
Se ha cargado JQC-2023-01-2013.25.40-walking.csv
Se ha cargado JQC-2023-01-2013.29.25-stairs.csv
Se ha cargado JQC-2023-01-2310.29.17-standing.csv
Se ha cargado JTC-2023-01-2310.47.02-standing.csv
Se ha cargado JTC-2023-01-2310.49.34-walking.csv
Se ha cargado JTC-2023-01-2310.50.59-stairs.csv
Se ha cargado JVF-2023-01-20-stairs.csv
Se ha cargado JVF-2023-01-20-standing.csv
Se ha cargado JVF-2023-01-20-walking.csv
Se ha cargado LQG-2023-01-2013.22.04-standing.csv
Se ha cargado LQG-2023-01-2013.24.08-walking.csv
Se ha cargado LQG-2023-01-2013.28.04-stairs.csv
Se ha cargado MCG-2023-01-2216.24.51.stairs.csv
Se ha cargado MCG-2023-01-2216.25.13.walking.csv
Se ha cargado MCG-2023-01-2216.26.37.standing.csv
Se ha cargado MVP-2023-01-20-stairs.csv
Se ha cargado MVP-2023-01-20-standing.csv
Se ha cargado MVP-2023-01-20-walking.csv

           time     gFx     gFy     gFz    TgF actividad         movil  sujeto
0      1.000580  0.0251  0.0138  1.0269  1.027  standing  unespecified  alvaro
1      1.002665  0.0229  0.0109  1.0294  1.030  standing  unespecified  alvaro
2      1.004611  0.0234  0.0118  1.0230  1.023  standing  unespecified  alvaro
3      1.007666  0.0242  0.0121  1.0235  1.024  standing  unespecified  alvaro
4      1.010507  0.0215  0.0135  1.0230  1.023  standing  unespecified  alvaro
...         ...     ...     ...     ...    ...       ...           ...     ...
89159  8.982020 -0.0371  1.0979  0.1160  1.105   walking  unespecified   Marta
89160  8.988941 -0.0340  1.1023  0.1075  1.108   walking  unespecified   Marta
89161  8.992377 -0.0435  1.1104  0.0909  1.115   walking  unespecified   Marta
89162  8.996913 -0.0428  1.1148  0.0828  1.119   walking  unespecified   Marta
89163  9.002482 -0.0369  1.1157  0.0699  1.119   walking  unespecified   Marta

[89164 rows x 8 columns]

In [2]:
for col in ['actividad', 'movil', 'sujeto']:
        combined_csv[col] = combined_csv[col].str.capitalize().str.strip()
        
combined_csv

           time     gFx     gFy     gFz    TgF actividad         movil  sujeto
0      1.000580  0.0251  0.0138  1.0269  1.027  Standing  Unespecified  Alvaro
1      1.002665  0.0229  0.0109  1.0294  1.030  Standing  Unespecified  Alvaro
2      1.004611  0.0234  0.0118  1.0230  1.023  Standing  Unespecified  Alvaro
3      1.007666  0.0242  0.0121  1.0235  1.024  Standing  Unespecified  Alvaro
4      1.010507  0.0215  0.0135  1.0230  1.023  Standing  Unespecified  Alvaro
...         ...     ...     ...     ...    ...       ...           ...     ...
89159  8.982020 -0.0371  1.0979  0.1160  1.105   Walking  Unespecified   Marta
89160  8.988941 -0.0340  1.1023  0.1075  1.108   Walking  Unespecified   Marta
89161  8.992377 -0.0435  1.1104  0.0909  1.115   Walking  Unespecified   Marta
89162  8.996913 -0.0428  1.1148  0.0828  1.119   Walking  Unespecified   Marta
89163  9.002482 -0.0369  1.1157  0.0699  1.119   Walking  Unespecified   Marta

[89164 rows x 8 columns]

In [3]:
combined_csv.to_csv("combined_csv_without_features.csv", index=False, header=True)